:root {
    --bg-dark : #1f2937;
    --btn-color: #3882f6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header, .hero, footer {
    background: var(--bg-dark);
    color: white;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}

header ul {
    list-style: none;
    display: flex;
    gap: 1em;
}

a {
    text-decoration: none;
    color: white;
}

section {
    margin-bottom: 2em;
}

.hero {
    display: flex;
    padding: 5em 5%;
    justify-content: center;
    gap: 2em;
    align-items: center;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero .left {
    display: flex;
    flex-flow: column;
    gap: 1.5em;
}

.hero p, button, ul {
    font-size: 18px;
}

.hero button {
    background: var(--btn-color);
    color: white;
    border: none;
    padding: .5em 1em;
    max-width: 100px;
    border-radius: .5em;
}

.hero img {
    background: gray;
    width: 500px;
    min-height: 250px;
}

.info {
    padding: 0 10%;
    margin-bottom: 5em;
}

.info h1 {
    text-align: center;
    margin-bottom: 1em;
}

.box-wrapper {
    display: flex;
    gap: 3em;
    justify-content: center;
}

.box img {
    border: 2px solid var(--btn-color);
    height: 100%;
    min-height: 150px;
    width: 100%;
    border-radius: .5em;
}

.box p {
    text-align: center;
}

.quote {
    background: #e7e5eb;
    padding: 5% 10%;
}

.quote p {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.quote p::after {
    content: '-Thor, God of Thunder';
    display: inline-flex;
    position: relative;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    margin-right: -3em;
    margin-bottom: -2em;
}


.action {
    margin: 2em auto;
    display: flex;
    color: white;
    background: var(--btn-color);
    border-radius: .5em;
    padding: 2em;
    justify-content: space-evenly;
    max-width: 1000px;
}

.action button {
    border: 2px solid white;
    border-radius: .5em;
    color: white;
    padding: .5em 1.5em;
    background: var(--btn-color);
}

footer {
    padding: 1.5em;
    text-align: center;
}